WebService/Service References/NationalService/Hoteles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ineltur.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.ineltur.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ineltur.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="BuscarDestinos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionBuscarDestinos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PeticionBuscarDestinos">
        <s:complexContent mixed="false">
          <s:extension base="tns:PeticionBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Destino" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PeticionBase" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdiomaDeseado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarDestinosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarDestinosResult" type="tns:RespuestaBuscarDestinos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaBuscarDestinos">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespuestaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Destinos" type="tns:ArrayOfInfoDestino" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RespuestaBase" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Estado" type="tns:EstadoRespuesta" />
          <s:element minOccurs="0" maxOccurs="1" name="MensajeEstado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EstadoRespuesta">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="NoEncontrado" />
          <s:enumeration value="NoHayCupo" />
          <s:enumeration value="OperacionFallida" />
          <s:enumeration value="ErrorParametro" />
          <s:enumeration value="ErrorInterno" />
          <s:enumeration value="CredencialesNoValidas" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfInfoDestino">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InfoDestino" nillable="true" type="tns:InfoDestino" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoDestino">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdDestino" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoDestino" type="tns:TipoDestino" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreDestino" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoDestino">
        <s:restriction base="s:string">
          <s:enumeration value="Ciudad" />
          <s:enumeration value="Provincia" />
          <s:enumeration value="Region" />
          <s:enumeration value="NoEspecificado" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BuscarAlojamientos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionBuscarAlojamientos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PeticionBuscarAlojamientos">
        <s:complexContent mixed="false">
          <s:extension base="tns:PeticionBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdDestino" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="TipoDestino" type="tns:TipoDestino" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="TipoAlojamiento" nillable="true" type="tns:TipoAlojamiento" />
              <s:element minOccurs="1" maxOccurs="1" name="Habitacion1" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Habitacion2" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Habitacion3" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Habitacion4" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Habitacion5" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Habitacion6" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Orden" nillable="true" type="tns:OrdenAlojamientos" />
              <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NombreAlojamiento" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="TipoAlojamiento">
        <s:restriction base="s:string">
          <s:enumeration value="SinTipoAlojamiento" />
          <s:enumeration value="ApartHotel" />
          <s:enumeration value="BandB" />
          <s:enumeration value="Bodega" />
          <s:enumeration value="Bungalows" />
          <s:enumeration value="Cabanyas" />
          <s:enumeration value="ComplejoTuristico" />
          <s:enumeration value="EstanciaRanches" />
          <s:enumeration value="Hospedaje" />
          <s:enumeration value="Hostal" />
          <s:enumeration value="Hosteria" />
          <s:enumeration value="Hotel" />
          <s:enumeration value="HotelBoutique" />
          <s:enumeration value="HotelSpa" />
          <s:enumeration value="Lodge" />
          <s:enumeration value="Motel" />
          <s:enumeration value="Parador" />
          <s:enumeration value="Posada" />
          <s:enumeration value="Resort" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OrdenAlojamientos">
        <s:restriction base="s:string">
          <s:enumeration value="PorNombre" />
          <s:enumeration value="PorPrecio" />
          <s:enumeration value="PorCategoria" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BuscarAlojamientosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAlojamientosResult" type="tns:RespuestaBuscarAlojamientos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaBuscarAlojamientos">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespuestaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AlojamientosDisponibles" type="tns:ArrayOfInfoAlojamientoDisponible" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfInfoAlojamientoDisponible">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InfoAlojamientoDisponible" nillable="true" type="tns:InfoAlojamientoDisponible" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoAlojamientoDisponible">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Destino" type="tns:InfoDestino" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoAlojamiento" nillable="true" type="tns:TipoAlojamiento" />
          <s:element minOccurs="1" maxOccurs="1" name="IdAlojamiento" nillable="true" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Moneda" nillable="true" type="tns:Moneda" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa1" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa2" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa3" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa4" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa5" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa6" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo1" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo2" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo3" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo4" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo5" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo6" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Moneda">
        <s:restriction base="s:string">
          <s:enumeration value="ARS" />
          <s:enumeration value="USD" />
          <s:enumeration value="EUR" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InfoAlojamiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionInfoAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PeticionInfoAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:PeticionBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdAlojamiento" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InfoAlojamientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfoAlojamientoResult" type="tns:RespuestaInfoAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaInfoAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespuestaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Alojamiento" type="tns:InfoAlojamiento" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="InfoAlojamiento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdAlojamiento" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destino" type="tns:InfoDestino" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TipoAlojamiento" />
          <s:element minOccurs="1" maxOccurs="1" name="Categoria" type="tns:CategoriaAlojamiento" />
          <s:element minOccurs="0" maxOccurs="1" name="PoliticasCancelacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FotoAlojamientoUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FotoAlojamientoDescripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FotoUrlLista" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="FotoDescripcionLista" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Amenidades" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="Regimen" type="tns:RegimenAlojamiento" />
          <s:element minOccurs="1" maxOccurs="1" name="BajoPeticion" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Moneda" type="tns:Moneda" />
          <s:element minOccurs="0" maxOccurs="1" name="Unidades" type="tns:ArrayOfInfoUnidad" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitud" nillable="true" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitud" nillable="true" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CategoriaAlojamiento">
        <s:restriction base="s:string">
          <s:enumeration value="OtraCategoria" />
          <s:enumeration value="SinCategoria" />
          <s:enumeration value="Estrellas1" />
          <s:enumeration value="Estrellas2" />
          <s:enumeration value="Estrellas3" />
          <s:enumeration value="Estrellas4" />
          <s:enumeration value="Estrellas5" />
          <s:enumeration value="Estrellas6" />
          <s:enumeration value="Estrellas7" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RegimenAlojamiento">
        <s:restriction base="s:string">
          <s:enumeration value="NoInformado" />
          <s:enumeration value="Desayuno" />
          <s:enumeration value="MediaPension" />
          <s:enumeration value="PensionCompleta" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfInfoUnidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InfoUnidad" nillable="true" type="tns:InfoUnidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoUnidad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUnidad" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreUnidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Personas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Camas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Disponibles" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoPorUnidad" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="InfoCuposAlojamiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionInfoCuposAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PeticionInfoCuposAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:PeticionInfoAlojamiento">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="InfoCuposAlojamientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InfoCuposAlojamientoResult" type="tns:RespuestaInfoCuposAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaInfoCuposAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespuestaInfoAlojamiento">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Moneda" type="tns:Moneda" />
              <s:element minOccurs="0" maxOccurs="1" name="Unidades" type="tns:ArrayOfInfoUnidad" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ReservarAlojamiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionReservarAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PeticionReservarAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:PeticionBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdAlojamiento" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="IdFormaPago" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="Titular" type="tns:InfoPasajero" />
              <s:element minOccurs="0" maxOccurs="1" name="Unidades" type="tns:ArrayOfDetalleUnidad" />
              <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="EstadoReserva" type="tns:EstadoReserva" />
              <s:element minOccurs="1" maxOccurs="1" name="IncurreGastos" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="InfoPasajero">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sexo" type="tns:Sexo" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaNacimiento" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoDocumento" type="tns:TipoDocumento" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Sexo">
        <s:restriction base="s:string">
          <s:enumeration value="Masculino" />
          <s:enumeration value="Femenino" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TipoDocumento">
        <s:restriction base="s:string">
          <s:enumeration value="DNI" />
          <s:enumeration value="CUIT" />
          <s:enumeration value="Pasaporte" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfDetalleUnidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalleUnidad" nillable="true" type="tns:DetalleUnidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalleUnidad">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdUnidad" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Pasajeros" type="tns:ArrayOfInfoPasajero" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInfoPasajero">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InfoPasajero" nillable="true" type="tns:InfoPasajero" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EstadoReserva">
        <s:restriction base="s:string">
          <s:enumeration value="ReservaAConstatar" />
          <s:enumeration value="ReservaEfectiva" />
          <s:enumeration value="ReservaCancelada" />
          <s:enumeration value="ReservaRechazada" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ReservarAlojamientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReservarAlojamientoResult" type="tns:RespuestaReservarAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaReservarAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespuestaBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdReserva" nillable="true" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoReserva" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Moneda" nillable="true" type="tns:Moneda" />
              <s:element minOccurs="1" maxOccurs="1" name="Total" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="VencimientoReserva" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Detalles" type="tns:ArrayOfDetalleReserva" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDetalleReserva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalleReserva" nillable="true" type="tns:DetalleReserva" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalleReserva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicial" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFinal" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Dias" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PorUnidad" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Subtotal" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelarReservaAlojamiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionCancelarReservaAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PeticionCancelarReservaAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:PeticionBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdReserva" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoReserva" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="CancelarReservaAlojamientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarReservaAlojamientoResult" type="tns:RespuestaCancelarReservaAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaCancelarReservaAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespuestaBase" />
        </s:complexContent>
      </s:complexType>
      <s:element name="ConsultarReservaAlojamiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionConsultarReservaAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PeticionConsultarReservaAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:PeticionBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdReserva" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="CodigoReserva" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ConsultarReservaAlojamientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarReservaAlojamientoResult" type="tns:RespuestaConsultarReservaAlojamiento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaConsultarReservaAlojamiento">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespuestaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Pasajero" type="tns:InfoPasajero" />
              <s:element minOccurs="0" maxOccurs="1" name="Alojamiento" type="tns:InfoAlojamiento" />
              <s:element minOccurs="1" maxOccurs="1" name="EstadoReserva" nillable="true" type="tns:EstadoReserva" />
              <s:element minOccurs="1" maxOccurs="1" name="Moneda" nillable="true" type="tns:Moneda" />
              <s:element minOccurs="1" maxOccurs="1" name="Total" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="Detalles" type="tns:ArrayOfDetalleReserva" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="BuscarAlojamientosEInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="peticion" type="tns:PeticionBuscarAlojamientos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAlojamientosEInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAlojamientosEInfoResult" type="tns:RespuestaBuscarAlojamientosEInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaBuscarAlojamientosEInfo">
        <s:complexContent mixed="false">
          <s:extension base="tns:RespuestaBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="AlojamientosDisponibles" type="tns:ArrayOfInfoAlojamientoDisponibleCompleta" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfInfoAlojamientoDisponibleCompleta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InfoAlojamientoDisponibleCompleta" nillable="true" type="tns:InfoAlojamientoDisponibleCompleta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InfoAlojamientoDisponibleCompleta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Destino" type="tns:InfoDestino" />
          <s:element minOccurs="0" maxOccurs="1" name="Alojamiento" type="tns:InfoAlojamiento" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoAlojamiento" nillable="true" type="tns:TipoAlojamiento" />
          <s:element minOccurs="1" maxOccurs="1" name="IdAlojamiento" nillable="true" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Moneda" nillable="true" type="tns:Moneda" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa1" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa2" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa3" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa4" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa5" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Tarifa6" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo1" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo2" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo3" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo4" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo5" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cupo6" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarDestinosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarDestinos" />
  </wsdl:message>
  <wsdl:message name="BuscarDestinosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarDestinosResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAlojamientosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAlojamientos" />
  </wsdl:message>
  <wsdl:message name="BuscarAlojamientosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAlojamientosResponse" />
  </wsdl:message>
  <wsdl:message name="InfoAlojamientoSoapIn">
    <wsdl:part name="parameters" element="tns:InfoAlojamiento" />
  </wsdl:message>
  <wsdl:message name="InfoAlojamientoSoapOut">
    <wsdl:part name="parameters" element="tns:InfoAlojamientoResponse" />
  </wsdl:message>
  <wsdl:message name="InfoCuposAlojamientoSoapIn">
    <wsdl:part name="parameters" element="tns:InfoCuposAlojamiento" />
  </wsdl:message>
  <wsdl:message name="InfoCuposAlojamientoSoapOut">
    <wsdl:part name="parameters" element="tns:InfoCuposAlojamientoResponse" />
  </wsdl:message>
  <wsdl:message name="ReservarAlojamientoSoapIn">
    <wsdl:part name="parameters" element="tns:ReservarAlojamiento" />
  </wsdl:message>
  <wsdl:message name="ReservarAlojamientoSoapOut">
    <wsdl:part name="parameters" element="tns:ReservarAlojamientoResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarReservaAlojamientoSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarReservaAlojamiento" />
  </wsdl:message>
  <wsdl:message name="CancelarReservaAlojamientoSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarReservaAlojamientoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarReservaAlojamientoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarReservaAlojamiento" />
  </wsdl:message>
  <wsdl:message name="ConsultarReservaAlojamientoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarReservaAlojamientoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAlojamientosEInfoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAlojamientosEInfo" />
  </wsdl:message>
  <wsdl:message name="BuscarAlojamientosEInfoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAlojamientosEInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelesSoapSoap">
    <wsdl:operation name="BuscarDestinos">
      <wsdl:input message="tns:BuscarDestinosSoapIn" />
      <wsdl:output message="tns:BuscarDestinosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAlojamientos">
      <wsdl:input message="tns:BuscarAlojamientosSoapIn" />
      <wsdl:output message="tns:BuscarAlojamientosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InfoAlojamiento">
      <wsdl:input message="tns:InfoAlojamientoSoapIn" />
      <wsdl:output message="tns:InfoAlojamientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InfoCuposAlojamiento">
      <wsdl:input message="tns:InfoCuposAlojamientoSoapIn" />
      <wsdl:output message="tns:InfoCuposAlojamientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReservarAlojamiento">
      <wsdl:input message="tns:ReservarAlojamientoSoapIn" />
      <wsdl:output message="tns:ReservarAlojamientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarReservaAlojamiento">
      <wsdl:input message="tns:CancelarReservaAlojamientoSoapIn" />
      <wsdl:output message="tns:CancelarReservaAlojamientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarReservaAlojamiento">
      <wsdl:input message="tns:ConsultarReservaAlojamientoSoapIn" />
      <wsdl:output message="tns:ConsultarReservaAlojamientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAlojamientosEInfo">
      <wsdl:input message="tns:BuscarAlojamientosEInfoSoapIn" />
      <wsdl:output message="tns:BuscarAlojamientosEInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelesSoapSoap" type="tns:HotelesSoapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarDestinos">
      <soap:operation soapAction="http://www.ineltur.com/BuscarDestinos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAlojamientos">
      <soap:operation soapAction="http://www.ineltur.com/BuscarAlojamientos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoAlojamiento">
      <soap:operation soapAction="http://www.ineltur.com/InfoAlojamiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InfoCuposAlojamiento">
      <soap:operation soapAction="http://www.ineltur.com/InfoCuposAlojamiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservarAlojamiento">
      <soap:operation soapAction="http://www.ineltur.com/ReservarAlojamiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarReservaAlojamiento">
      <soap:operation soapAction="http://www.ineltur.com/CancelarReservaAlojamiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarReservaAlojamiento">
      <soap:operation soapAction="http://www.ineltur.com/ConsultarReservaAlojamiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAlojamientosEInfo">
      <soap:operation soapAction="http://www.ineltur.com/BuscarAlojamientosEInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelesSoap">
    <wsdl:port name="HotelesSoapSoap" binding="tns:HotelesSoapSoap">
      <soap:address location="http://localhost:61275/Hoteles.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>